apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: {{ base_name }}
spec:
  template:
    metadata:
      annotations:
        seccomp.security.alpha.kubernetes.io/pod: docker/default
      labels:
        app: {{ base_name }}
    spec:
      containers:
      - image: {{ config_image_name }}
        imagePullPolicy: Never
        name: {{ base_name }}
        ports:
          - containerPort: 5432
            name: postgresql
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        - name: run
          mountPath: /run
        - name: cgroups
          mountPath: /sys/fs/cgroup
          readOnly: true
      volumes:
      - name: run
        emptyDir:
          medium: Memory
      - name: tmp
        emptyDir:
          medium: Memory
      - name: cgroups
        hostPath:
          path: /sys/fs/cgroup
