config
inventories
pull
venv
modules
library
*-vars.yml
roles/unbound/files/
roles/nginx/files/
roles/keycloak-cock
roles/cockroach/files/*
group_vars/all.yml
roles/unbound/vars/main.yml
roles/unbound/templates/resolv.conf.j2
roles/unbound/templates/unbound.conf
roles/unbound/templates/unbound.conf.j2
roles/unbound/templates/cloudtrust-unbound.service.j2
roles/etcd/files/etcd_peer.key
roles/etcd/files/etcd_server.key
roles/etcd/files/gen_certs.sh
roles/etcd/files/etcd_peer.csr
roles/etcd/files/etcd_tls.conf
roles/etcd/files/etcd_client.key
roles/etcd/files/etcd_server.crt
roles/etcd/files/etcd_client.crt
roles/etcd/files/etcd_client.csr
roles/etcd/files/etcd_server.csr
roles/etcd/files/etcd_peer.crt
roles/jaeger-query/vars/main.yml
roles/jaeger-query/files/gen_certs.sh
roles/jaeger-query/files/jaeger_tls.conf
roles/jaeger-query/files/jaeger.key
roles/jaeger-query/files/jaeger.csr
roles/jaeger-query/files/jaeger.crt
roles/kibana/vars/main.yml
roles/kibana/files/gen_certs.sh
roles/kibana/files/kibana.crt
roles/kibana/files/kibana.key
roles/kibana/files/kibana_tls.conf
roles/kibana/files/kibana.csr
roles/influx/vars/main.yml
roles/postgres/vars/main.yml
roles/elasticsearch/vars/main.yml
roles/grafana/vars/main.yml
roles/grafana/files/gen_certs.sh
roles/grafana/files/grafana.key
roles/grafana/files/grafana_tls.conf
roles/grafana/files/grafana.csr
roles/grafana/files/grafana.crt
roles/ceph/vars/main.yml
roles/ceph/files/mon.key
roles/ceph/files/admin.key
roles/ceph/files/bootstrap.key
roles/ceph/files/user.key
roles/sentry/vars/main.yml
roles/sentry/files/gen_certs.sh
roles/sentry/files/sentry_tls.conf
roles/sentry/files/sentry.crt
roles/sentry/files/sentry.key
roles/sentry/files/sentry.csr
roles/idp-test-client/vars/main.yml
roles/idp-test-client/files/gen_certs.sh
roles/idp-test-client/files/idp-test-client.key
roles/idp-test-client/files/idp-test-client.csr
roles/idp-test-client/files/idp-test-client.crt
roles/idp-test-client/files/refconfig.yml
roles/idp-test-client/files/idp-test-client_tls.conf
roles/baseimage/vars/main.yml
roles/baseimage/files/known_hosts
roles/keycloak/vars/main.yml
roles/keycloak/templates/standalone-ha.xml.j2
roles/keycloak/files/gen_certs.sh
roles/keycloak/files/cacerts
roles/keycloak/files/keycloak.csr
roles/keycloak/files/keycloak.key
roles/keycloak/files/keycloak_tls.conf
roles/keycloak/files/keycloak.crt
roles/keycloak/files/cacerts.b64
roles/kubernetes/vars/main.yml
roles/kubernetes/files/tokens
roles/kubernetes/files/certs/gen_certs.sh
roles/kubernetes/files/certs/kube_client_ca.srl
roles/kubernetes/files/certs/kube_server_tls.conf
roles/kubernetes/files/certs/kube_server.csr
roles/kubernetes/files/certs/kube_client_admin.csr
roles/kubernetes/files/certs/kube_server_csr.conf
roles/kubernetes/files/certs/kube_client_admin.key
roles/kubernetes/files/certs/kube_client_csr.conf
roles/kubernetes/files/certs/ca.srl
roles/kubernetes/files/certs/kube_client_admin_tls.conf
roles/kubernetes/files/certs/kube_server.key
roles/kubernetes/files/certs/kube_server.crt
roles/kubernetes/files/certs/kube_client_admin.crt
roles/kubernetes/files/service-account-key-file.key
roles/flaki/vars/main.yml
inventories/main.ini
roles/etcd-host/files/etcd_peer.key
roles/etcd-host/files/etcd_server.key
roles/etcd-host/files/gen_certs.sh
roles/etcd-host/files/etcd_peer.csr
roles/etcd-host/files/etcd_tls.conf
roles/etcd-host/files/etcd_client.key
roles/etcd-host/files/etcd_server.crt
roles/etcd-host/files/etcd_client.crt
roles/etcd-host/files/etcd_client.csr
roles/etcd-host/files/etcd_server.csr
roles/etcd-host/files/etcd_peer.crt
roles/etcd-host/files/etcd_peer_tls.conf
roles/etcd-host/files/etcd_server_tls.conf
roles/etcd-host/files/etcd_client_tls.conf
roles/etcd-host/files/ca.srl
roles/etcd-host/files/etcd_ca_tls.conf
