int-vars.yml
debug.yml
pull
config
inventories
roles/sentry/vars/main.yml
roles/sentry/files/tls.key
roles/sentry/files/tls.crt
roles/baseimage/vars/main.yml
roles/baseimage/files/known_hosts
roles/ceph/vars/main.yml
roles/ceph/files/admin.key
roles/ceph/files/mon.key
roles/ceph/files/bootstrap.key
roles/grafana/vars/main.yml
roles/grafana/files/tls.key
roles/grafana/files/tls.crt
roles/kubernetes/vars/main.yml
roles/kubernetes/files/tokens
roles/certificates/vars/main.yml
roles/certificates/files/server.csr
roles/certificates/files/ca.crt
roles/certificates/files/ca.srl
roles/certificates/files/ca.key
roles/certificates/files/server.key
roles/certificates/files/server.crt
roles/certificates/files/server_csr.conf
roles/postgres/vars/main.yml
roles/keycloak/templates/standalone-ha.xml.j2
roles/keycloak/vars/main.yml
roles/keycloak/files/tls.key
roles/keycloak/files/tls.crt
roles/influx/vars/main.yml
group_vars/all.yml
inventories/main.ini
roles/ceph/files/user.key
roles/certificates/192.168.16.44/server.csr
roles/certificates/192.168.16.44/server.key
roles/certificates/192.168.16.44/.srl
roles/certificates/192.168.16.44/server.crt
roles/certificates/192.168.16.44/server_csr.conf
roles/certificates/192.168.16.43/server.csr
roles/certificates/192.168.16.43/server.key
roles/certificates/192.168.16.43/.srl
roles/certificates/192.168.16.43/server.crt
roles/certificates/192.168.16.43/server_csr.conf
roles/certificates/192.168.16.45/server.csr
roles/certificates/192.168.16.45/server.key
roles/certificates/192.168.16.45/server.crt
roles/certificates/192.168.16.45/server_csr.conf
roles/certificates/192.168.16.46/server.csr
roles/certificates/192.168.16.46/server.key
roles/certificates/192.168.16.46/.srl
roles/certificates/192.168.16.46/server.crt
roles/certificates/192.168.16.46/server_csr.conf
roles/certificates/files/.srl
roles/jaeger-query/vars/main.yml
roles/jaeger-collector/vars/main.yml
roles/flaki/vars/main.yml
roles/jaeger-query/files/tls.crt
roles/jaeger-query/files/tls.key
roles/kibana/files/tls.crt
roles/kibana/files/tls.key
roles/logstash/templates/elasticsearch.conf.j2
roles/kubernetes/files/certs/kube_client_ca.key
roles/kubernetes/files/certs/gen_certs.sh
roles/kubernetes/files/certs/kube_client_ca.srl
roles/kubernetes/files/certs/kube_ca.crt
roles/kubernetes/files/certs/kube_client_admin.csr
roles/kubernetes/files/certs/server.csr
roles/kubernetes/files/certs/kube_ca.key
roles/kubernetes/files/certs/kube_server_csr.conf
roles/kubernetes/files/certs/kube_client_admin.key
roles/kubernetes/files/certs/kube_client_csr.conf
roles/kubernetes/files/certs/kube_server.key
roles/kubernetes/files/certs/kube_server.crt
roles/kubernetes/files/certs/kube_client_ca.crt
roles/kubernetes/files/certs/kube_client_admin.crt
roles/kubernetes/files/service-account-key-file.key
