---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ client["name"] }}
data:
  application.properties: |
    {{ lookup('template', role_path + '/templates/application.properties.j2') | indent(4,False) }}
  fediz_config.xml: |
    {{ lookup('template', role_path + '/templates/fediz_config.xml.j2') | indent(4,False) }}
binaryData:
  localstore.jks: {{ lookup('file', role_path + '/files/localstore.jks.b64') | indent(4,False) }}
  localstore-SAML.jks: {{ lookup('file', role_path + '/files/localstore-SAML.jks.b64') | indent(4,False) }}
