---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: {{ tls_secret_name }}
data:
  tls.crt: {{ lookup('file', tls_crt) | b64encode }}
  tls.key: {{ lookup('file', tls_key) | b64encode }}
