apiVersion: v1
kind: Service
metadata:
  name: cockroach-public
spec:
  ports:
  - port: 26257
    protocol: TCP
    targetPort: grpc
    name: grpc
  - port: 80
    protocol: TCP
    targetPort: http
    name: http
  type: ClusterIP
  selector:
    app: cockroach
