[Unit]
Description=CockroachDB - The SQL database for global cloud services
After=network.target

[Service]
Type=simple
ExecStart=/opt/cockroach/cockroach start --insecure --host=%H.cockroach --store=path=/var/lib/cockroach --http-host=0.0.0.0 --http-port=8080 --join={% for n in range(replicas) %}cockroach-{{ n }}.cockroach:26257{% if not loop.last %},{% endif %}{% endfor %} --logtostderr

[Install]
WantedBy=multi-user.target

