apiVersion: apps/v1
kind: Deployment
metadata:
  name: shadowgroup
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shadowgroup
  template:
    metadata:
      annotations:
        seccomp.security.alpha.kubernetes.io/pod: docker/default
      labels:
        app: shadowgroup
    spec:
      containers:
      - image: {{ image_name }}
        imagePullPolicy: Never
        name: shadowgroup
        ports:
        - containerPort: 7080
          name: http
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        - name: run
          mountPath: /run
        - name: cgroups
          mountPath: /sys/fs/cgroup
      volumes:
      - name: run
        emptyDir:
          medium: Memory
      - name: tmp
        emptyDir:
          medium: Memory
      - name: cgroups
        hostPath:
          path: /sys/fs/cgroup
