apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
  name: shadowgroup
spec:
  ports:
  - port: 7080
    targetPort: http
    name: http
  selector:
    app: shadowgroup
