# Flanneld configuration options

# etcd url location.  Point this to the server where etcd runs
FLANNELD_ETCD="{{ etcd_servers }}"
FLANNELD_ETCD_KEY="/{{ cluster_name }}/network"
FLANNELD_IFACE="{{ interface }}"

FLANNELD_ETCD_ENDPOINTS="{{ etcd_servers }}"
FLANNELD_ETCD_PREFIX="/{{ cluster_name }}/network"

FLANNELD_ETCD_CAFILE="{{ ca_cert }}"
FLANNELD_ETCD_CERTFILE="{{ etcd_client_cert }}"
FLANNELD_ETCD_KEYFILE="{{ etcd_client_key }}"

