apiVersion: v1
kind: Secret
metadata:
  namespace: {{ namespace }}
  name: {{ admin_key_secret_name }}
data:
  ceph.client.admin.keyring: {{ lookup('file', admin_key) | b64encode }}
type: kubernetes.io/rbd

