apiVersion: v1
kind: Secret
metadata:
  namespace: {{ namespace }}
  name: {{ mon_secret_name }}
data:
  ceph.conf: {{ lookup('template', role_path+'/templates/ceph.conf.j2') | b64encode }}
  mon.keyring: {{ lookup('template', role_path+'/templates/mon.keyring.j2') | b64encode }}
  ceph.client.admin.keyring: {{ lookup('template', role_path+'/templates/ceph.client.admin.keyring.j2') | b64encode }}
type: Opaque

