apiVersion: v1
kind: Secret
metadata:
  namespace: {{ namespace }}
  name: {{ osd_secret_name }}
data:
  ceph.conf: {{ lookup('template', role_path+'/templates/ceph.conf.j2') | b64encode }}
  osd.keyring: {{ lookup('template', role_path+'/templates/osd.keyring.j2') | b64encode }}
type: Opaque

