kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ storageclass }}
provisioner: ceph.com/rbd
parameters:
  monitors: mon.ceph.svc.{{ cluster_name }}:6789
  adminId: admin
  adminSecretName: {{ admin_key_secret_name }}
  adminSecretNamespace: {{ namespace }}
  pool: {{ pool_name }}
  userId: kube
  userSecretName: {{ user_key_secret_name }}
