---

apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: jaeger-collector
spec:
  template:
    metadata:
      annotations:
        seccomp.security.alpha.kubernetes.io/pod: docker/default
      labels:
        app: jaeger-collector
    spec:
      containers:
      - image: {{ image_name }}
        imagePullPolicy: Never
        name: jaeger-collector
        ports:
          - containerPort: 14269
            name: health
          - containerPort: 14268
            name: http
          - containerPort: 14267
            name: jaeger
          - containerPort: 9411
            name: zipkin
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        - name: run
          mountPath: /run
        - name: cgroups
          mountPath: /sys/fs/cgroup
          readOnly: true
      volumes:
      - name: run
        emptyDir:
          medium: Memory
      - name: tmp
        emptyDir:
          medium: Memory
      - name: cgroups
        hostPath:
          path: /sys/fs/cgroup
