---

apiVersion: v1
kind: Service
metadata:
  name: jaeger-collector
spec:
  ports:
  - port: 14269
    protocol: TCP
    targetPort: health
    name: health
  - port: 14268
    protocol: TCP
    targetPort: http
    name: http
  - port: 9411
    protocol: TCP
    targetPort: zipkin
    name: zipkin
  - port: 14267
    protocol: TCP
    targetPort: jaeger
    name: jaeger
  type: ClusterIP
  selector:
    app: jaeger-collector
