---

apiVersion: v1
kind: Service
metadata:
  name: flaki
spec:
  ports:
  - port: 5555
    protocol: TCP
    targetPort: grpc
    name: grpc
  - port: 8888
    protocol: TCP
    targetPort: http
    name: http
  type: ClusterIP
  selector:
    app: flaki
