---

apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: flaki
spec:
  template:
    metadata:
      annotations:
        seccomp.security.alpha.kubernetes.io/pod: docker/default
      labels:
        app: flaki
    spec:
      containers:
      - image: {{ image_name }}
        imagePullPolicy: Never
        name: flaki
        ports:
          - containerPort: 5555
            name: grpc
          - containerPort: 8888
            name: http
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        - name: run
          mountPath: /run
        - name: cgroups
          mountPath: /sys/fs/cgroup
          readOnly: true
      volumes:
      - name: run
        emptyDir:
          medium: Memory
      - name: tmp
        emptyDir:
          medium: Memory
      - name: cgroups
        hostPath:
          path: /sys/fs/cgroup
