apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
  name: kibana
spec:
  ports:
  - port: 80
    targetPort: http
    name: http
  selector:
    app: kibana
