apiVersion: v1
kind: Service
metadata:
  name: {{ base_name }}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: http
    name: http
  type: ClusterIP
  selector:
    app: {{ base_name }}
