apiVersion: v1
kind: Service
metadata:
  name: keycloak
spec:
  ports:
  - port: 8888
    protocol: TCP
    targetPort: http-bridge
    name: http-bridge
  - port: 5555
    protocol: TCP
    targetPort: grpc
    name: grpc
  - port: 80
    protocol: TCP
    targetPort: http
    name: http
  type: ClusterIP
  selector:
    app: {{ base_name }}
