apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
  name: keycloak
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: http
    name: http
  clusterIP: None
  selector:
    app: {{ base_name }}
