apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: {{ master_address }}
    name: kubetest
users:
  - name: admin
    user:
      token: {{ token }}
contexts:
  - context:
      cluster: kubetest
      user: admin
    name: admin-kubetest
current-context: admin-kubetest