---

apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: jaeger-query
spec:
  template:
    metadata:
      annotations:
        seccomp.security.alpha.kubernetes.io/pod: docker/default
      labels:
        app: jaeger-query
    spec:
      containers:
      - image: {{ image_name }}
        imagePullPolicy: Never
        name: jaeger-query
        ports:
          - containerPort: 80
            name: http
          - containerPort: 16687
            name: health
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        - name: run
          mountPath: /run
        - name: cgroups
          mountPath: /sys/fs/cgroup
          readOnly: true
        readinessProbe:
          httpGet:
            path: /
            port: health
          initialDelaySeconds: 15
          periodSeconds: 3
      volumes:
      - name: run
        emptyDir:
          medium: Memory
      - name: tmp
        emptyDir:
          medium: Memory
      - name: cgroups
        hostPath:
          path: /sys/fs/cgroup
