apiVersion: v1
kind: Service
metadata:
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
  name: {{ headless_service_name }}
spec:
  ports:
  - port: 9200
    targetPort: http
    name: http
  - port: 9300
    targetPort: transport
    name: transport
  clusterIP: None
  selector:
    app: elasticsearch
    role: master
