---
apiVersion: v1
kind: ConfigMap
metadata:
  name: elasticsearch-data
data:
  elasticsearch.yml: |
    {{ lookup('template', role_path + '/templates/elasticsearch-data.yml.j2') | indent(4,False) }}
  jvm.options: |
    {{ lookup('template', role_path + '/templates/jvm-data.options.j2') | indent(4,False) }}


